.result {
  .result-list {
    max-width: 500px;
    margin: 10px auto 0;
    .result-item {
      display: flex;
      justify-content: flex-start;
      text-align: left;
    
      .symbol {
        margin-top: 10px;
        margin-right: 10px;
        font-weight: bold;
      }
      .text {
        margin: 5px;
      }
    }
  }

  .btn {
    margin-top: 15px;
  }
}